<div class="modal-content">
    <div class="modal-header">
        <div class="d-flex align-items-center">
            <h5 class="modal-title">
                <avatar-display url="vm.member.profileImageURL" size="60"></avatar-display> 
                {{ vm.member.displayName }}
            </h5>
        </div>
    </div>
    <div class="modal-body">
        <label-list>
            <label ng-repeat="capability in vm.member.capabilities" class="label label-cap-default">
                <i class="far fa-lg fa-check-circle success"></i> {{capability.name}}
            </label>
            <br>
            <label ng-repeat="capabilitySkill in vm.member.capabilitySkills" class="label label-preferred-skill-selected mx-1">{{capabilitySkill.name}}</label>
        </label-list>
    </div>
    <div class="modal-footer" ng-if="!vm.isRequest">
        <button type="button" class="btn btn-text-only float-left" ng-click="vm.removeMember()">Remove member</button>
        <button type="button" ng-click="vm.close()" class="btn btn-secondary">Close</button>
    </div>
</div>