<div class="back-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/orgs"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;All Companies</a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">

    <div class="row mb-3" ng-if="(vm.isOrgMember() || vm.isAdmin()) && vm.isOrgCapable() && vm.org.isAcceptedTerms">
      <div class="col">
        <label class="mb-1 label label-swu-qualified" uib-tooltip="Your company is qualified to apply on Sprint With Us opportunities!">
          <i class="fas fa-certificate"></i> 
          <span class="font-italic">Sprint With Us</span> Qualified!
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mb-5">
        <div class="d-flex align-items-center">
          <edit-org-image org="vm.org"></edit-org-image>
          <div>
            <h4 class="hover-area m-0" ng-if="vm.isOrgAdmin() || vm.isAdmin()" uib-tooltip="Click to edit" tooltip-placement="top-left" ng-click="vm.editOrgInfo()">{{ vm.org.name }}</h4>
            <div class="hover-area text-truncate" ng-if="vm.org.website && (vm.isOrgAdmin() || vm.isAdmin())" uib-tooltip="Click to edit" tooltip-placement="top-left" ng-click="vm.editOrgInfo()">{{vm.org.website}}</div>
            <div class="missing-info" ng-if="!vm.org.website && (vm.isOrgAdmin() || vm.isAdmin())" ng-click="vm.editOrgInfo()">Add website</div>
          </div>
        </div>
      </div>

      <!-- Business info -->
      <div ng-if="vm.isOrgMember() || vm.isAdmin()" class="col-12 col-md-6">
        <div class="subhead mt-2">
          <h4>Company Info</h4>
        </div>
        <div class="hover-area" ng-if="vm.isOrgAdmin() || vm.isAdmin()" uib-tooltip="Click to edit" tooltip-placement="top-left" ng-click="vm.editOrgContact()">
          <span ng-if="vm.org.address" class="font-weight-bold">{{vm.org.address}}</span><span ng-if="!vm.org.address" class="missing-info">Add address</span><br>
          <span ng-if="vm.org.city" class="font-weight-bold">{{vm.org.city}}</span><span ng-if="!vm.org.city" class="missing-info">Add city</span> 
          <span ng-if="vm.org.province" class="font-weight-bold">{{vm.org.province}}</span><span ng-if="!vm.org.province" class="missing-info">XX</span> 
          &nbsp;
          <span ng-if="vm.org.postalcode">{{vm.org.postalcode}}</span><span ng-if="!vm.org.postalcode" class="missing-info">Add postal</span>
          <br><br>
        </div>
        <div class="hover-area" ng-if="vm.isOrgAdmin() || vm.isAdmin()" uib-tooltip="Click to edit" tooltip-placement="top-left" ng-click="vm.editOrgContact()">
          <span class="text-muted">Business Registration No.:</span>
          <span ng-if="vm.org.businessNumber" class="font-weight-bold">{{vm.org.businessNumber}}</span><span ng-if="!vm.org.businessNumber" class="missing-info">Add</span>
          <br><br>
        </div>
        <div class="hover-area" ng-if="vm.isOrgAdmin() || vm.isAdmin()" uib-tooltip="Click to edit" tooltip-placement="top-left" ng-click="vm.editOrgContact()">
          <span class="text-muted">Company Contact:</span><br>
          <span ng-if="vm.org.contactName" class="font-weight-bold">{{vm.org.contactName}}</span><span ng-if="!vm.org.contactName" class="missing-info">Add contact person</span><br>
          <span ng-if="vm.org.contactPhone" class="font-weight-bold">{{vm.org.contactPhone}}</span><span ng-if="!vm.org.contactPhone" class="missing-info">Add phone</span><br>
          <span ng-if="vm.org.contactEmail" class="font-weight-bold">{{vm.org.contactEmail}}</span><span ng-if="!vm.org.contactEmail" class="missing-info">Add email</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Members section; should only appear if user is logged in and is a company admin -->    
<section ng-if="vm.isOrgAdmin() || vm.isAdmin()">
  <div class="container">
    <div ng-if="vm.org.members.length < 2" class="row d-flex justify-content-between">
      <span class="alert alert-warning">You need at least 2 team members to apply on <span class="font-italic">Sprint With Us</span> opportunities.</span>
    </div>
    <div class="row d-flex justify-content-between">
      <!-- Member requests -->
      <div class="col-md-12 col-lg-5">
        <div class="subhead">
          <h4>Member Requests</h4>
        </div>
        <div ng-if="vm.org.joinRequests.length > 0">
          <p>These people want to affiliate with your company.</p>
          <ul class="list-group">
            <li ng-repeat="member in vm.org.joinRequests" 
                class="list-group-item d-flex w-100 align-items-center member"
                ng-click="vm.viewMemberDetails(member, true)">
  
              <avatar-display url="member.profileImageURL" size="40"></avatar-display>
              <name>{{member.displayName}}</name>
              <div class="float-right ml-auto">
                <button type="button" class="btn btn-text-only" ng-click="vm.acceptMember(member); $event.stopPropagation();" title="Add member">
                  <i class="far fa-2x fa-check-circle"></i>
                </button>
                <button type="button" class="btn btn-text-only" ng-click="vm.declineMember(member); $event.stopPropagation();" title="Decline request">
                  <i class="far fa-2x fa-times-circle"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div ng-if="vm.org.joinRequests.length === 0">
          <p>No requests.</p>
        </div>
      </div>
      <!--END // Member requests -->

      <!-- Members list -->
      <div class="col-md-12 col-lg-6">
        <div class="subhead">
          <h4>Members</h4>
        </div>
        <!-- Search field to filter the members list... -->
        <!-- Can we add logic to this input so that it only displays if there are 12 or more members? -->
        <input class="form-control" 
                type="text" 
                ng-model="vm.searchTerm" 
                placeholder="Find team members...">
        
        <div class="py-2">
          <div class="member" ng-repeat="member in vm.org.members | filter: { displayName: vm.searchTerm }" ng-click="vm.viewMemberDetails(member, false)">
            <avatar-display url="member.profileImageURL" size="25"></avatar-display>
            <name>{{member.displayName}}</name>
          </div>
        </div>
        <!--Andrew: Can you make this alert display if there is only one member-->
        <div ng-if="" class="alert alert-warning">
          To qualify to apply on <span>Sprint With Us</span> opportunities, you must have at least two members in your company.
        </div> 
      </div>
      <!-- END // Members list -->
    </div>
  </div><!--END // Container -->
</section><!--END // Section -->
      

<section>
  <div class="container">
    <!--Capabilities & Skills -->
    <div ng-if="vm.isOrgMember() || vm.isOrgAdmin() || vm.isAdmin()" class="row">
      <div class="col">
        <div class="subhead">
          <h4>Capabilities</h4>
        </div>

        <!--Capabilities list-->
        <div class="py-2">
          <!--Andrew: Can you make this populate with only the capabilities that ARE possessed?-->
          <label ng-repeat="capability in vm.capabilities" class="label label-cap-default">
            <span ng-if="!vm.orgHasCapability(capability)"></span>
            <span ng-if="vm.orgHasCapability(capability)"><i class="far fa-lg fa-check-circle success"></i></span>
            {{capability.name}}
          </label>
        </div>

        <div ng-if="!vm.isOrgCapable()" class="alert alert-warning">
          To qualify to apply on <span>Sprint With Us</span> opportunities, you need to add members with the following capabilities:
          <div class="mt-2">
            <!--Andrew: Can you make this populate with only the capabilities that are NOT possessed?-->
            <label ng-repeat="capability in vm.capabilities" class="label label-cap-default">
            <span ng-if="!vm.orgHasCapability(capability)"></span>
            {{capability.name}}
            </label>
          </div>
        </div>        

        <!--Skills list-->
        <div class="subhead">
          <h4>Preferred Technical Skills</h4>
        </div>
        <div class="py-2">
          <label ng-repeat="capabilitySkill in vm.org.capabilitySkills" class="label label-preferred-skill-selected mx-1">{{capabilitySkill.name}}</label>
        </div>
      </div>
    </div>

    <!--SWU Terms-->
    <div ng-if="vm.isOrgAdmin() || vm.isAdmin()" class="row">
      <div class="col">
        <div class="subhead">
          <h4><span class="font-italic">Sprint With Us</span> Terms</h4>
        </div>
        <!--Display this div if company has not yet accepted the terms-->
        <div ng-if="!vm.org.isAcceptedTerms">
          <p>To apply on <span class="font-italic">Sprint With Us</span> opportunities, you must agree to <a href="/terms/rfq1" target="_blank">the terms of the Request for Qualifications</a>.</p>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary mr-4" ng-click="vm.acceptTerms()">Accept</button>
            <div class="small text-muted">By clicking Accept, you are acknowledging that you have read, fully understand, and agree to all the terms, conditions and procedures.</div>
          </div>
        </div>
        <!-- Display this paragraph once the company has accepted the terms-->
        <!-- We only started tracking the date of term acceptance in Jan 2019.  So if the tracking date is not present, just show creation date for the org -->
        <p ng-if="vm.org.isAcceptedTerms && !vm.org.acceptedTermsDate">You accepted the <a href="/terms/rfq1" target="_blank">terms</a> on {{ vm.org.created | date : longDate }}</p>
        <p ng-if="vm.org.isAcceptedTerms && vm.org.acceptedTermsDate" class="text-muted">You accepted the <a href="/terms/rfq1" target="_blank">terms</a> on {{ vm.org.acceptedTermsDate | date : longDate }}</p>
      </div>
    </div>

    <div ng-if="vm.isOrgAdmin() || vm.isAdmin()" class="row">
      <div class="col py-5">
        <div class="subhead">
          <h5 class="danger">Delete Company Profile</h5>
        </div>
        <p>Once you delete your company profile, there is no going back. Please be certain.</p>
        <button class="btn btn-text-only" ng-click="vm.removeOrg()"><i class="far fa-trash-alt"></i> Delete company profile</button>
      </div>
    </div>
  </div><!--End container-->
</section>
